@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-bg: oklch(0.984 0.003 247.858);
  --color-card: oklch(1 0 0);
  --color-border: oklch(0.929 0.013 255.508);

  /* text */
  --color-text: oklch(0.208 0.042 265.755);
  --color-muted: oklch(0.554 0.046 257.417);

  /* Primary (brand) */
  --color-primary: oklch(54.6% 0.245 262.881);
  --color-primary-hover: oklch(48.8% 0.243 264.376);

  /* Status */
  --color-success: oklch(59.6% 0.145 163.225);
  --color-danger: oklch(57.7% 0.245 27.325);

  /* Sidebar (admin dashboard feel) */
  --color-sidebar: oklch(0.208 0.042 265.755);
  --color-sidebar-text: oklch(0.929 0.013 255.508);
  --color-sidebar-active: oklch(0.279 0.041 260.031);
  --color-sidebar-active-border: oklch(54.6% 0.245 262.881);

  --font-inter: "Inter", system-ui, -apple-system, sans-serif;
  --font-jetbrains: "JetBrains Mono", system-ui, -apple-system, sans-serif;
}

:root {
  --color-bg: oklch(0.984 0.003 247.858);
  --color-card: oklch(1 0 0);
  --color-border: oklch(0.929 0.013 255.508);

  --color-text: oklch(0.38 0.03 260);
  --color-muted: oklch(0.554 0.046 257.417);

  --color-primary: oklch(54.6% 0.245 262.881);
  --color-primary-hover: oklch(48.8% 0.243 264.376);

  --color-success: oklch(59.6% 0.145 163.225);
  --color-danger: oklch(57.7% 0.245 27.325);

  --color-sidebar: oklch(0.208 0.042 265.755);
  --color-sidebar-text: oklch(0.929 0.013 255.508);
  --color-sidebar-active: oklch(0.279 0.041 260.031);
  --color-sidebar-active-border: oklch(54.6% 0.245 262.881);

  color: var(--color-text);
  background: var(--color-bg);
  font-family: var(--font-inter);
}

.dark {
  --color-bg: oklch(0.14 0 0);
  --color-card: oklch(0.18 0 0);
  --color-border: oklch(0.3 0 0);

  --color-text: oklch(0.92 0 0);
  --color-muted: oklch(0.72 0 0);

  --color-sidebar: oklch(0.16 0 0);
  --color-sidebar-text: oklch(0.92 0 0);
  --color-sidebar-active: oklch(0.24 0 0);
  --color-sidebar-active-border: oklch(0.72 0.2 255);
}
